<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Mesas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script type="text/javascript">
      var nmesa = {{ data.table }};
      var posicion = {{ data.pos }};
  </script>
</head>

<body class="container">
    <main class="col-12 mt-5 mb-0">
        <h1 class="d-block text-center titulo">Mesa {{data.table}} Posición: {{data.pos}}</h1>
    </main>
    <div class="row subtitle d-block text-center m-3">
            <table class="table table-bordered border-dark">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Bebidas</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Comidas</th>
                  <th scope="col">Precio</th>
            </tr>
              </thead>
                <tbody>
                  <tr>
                  <th scope="row" class="table-success">Agua</th>
                  <th class="table-success">1.00€</th>
                  <th class="table-success">Croquetas</th>
                  <th class="table-success">3.50€</th>
                </tr>

                  <tr>
                  <th scope="row" class="table-info">Coca Cola</th>
                  <th class="table-info">2.00€</th>
                  <th class="table-info">Serranito</th>
                  <th class="table-info">2.50€</th>
                </tr>

                  <tr>
                  <th scope="row" class="table-success">Fanta</th>
                  <th class="table-success">1.40€</th>
                  <th class="table-success">Solomillo</th>
                  <th class="table-success">3.00€</th>
                </tr>

                  <tr>
                  <th scope="row" class="table-info">Cerveza</th>
                  <th class="table-info">1.50€</th>
                  <th class="table-info">Tortilla</th>
                  <th class="table-info">3.50€</th>
                </tr>

                  <tr>
                  <th scope="row" class="table-success">Café</th>
                  <th class="table-success">2.50€</th>
                  <th class="table-success">Pescado Frito</th>
                  <th class="table-success">4.50€</th>
                </tr>

              </tbody>
            </table>
    </div>

    <!-- <center><b><p> "Para añadir a comanda, pulsar en cada menú según la cantidad deseada" </p></b></center> -->

    <div class="row subtitle d-block text-center m-3">
            <table class="table table-bordered border-dark">
              <tr>
              <th class="table-warning">"Para añadir a comanda, pulsar en cada imagen según la cantidad deseada"</th>
            </table>
    </div>



    <div class="row text-center">
      <div class="row pt-1">
        <button id = "botonborrarpedir0" class="col-sm-6 btn" onclick="addProduct(1)">
            <img class="rounded image" width="80%" src="https://www.ambientalys.com/web/wp-content/uploads/2018/07/agua-de-consumo-humano.jpg">
            <div class="text middle">Agua</div>
        </button>

        <button id = "botonborrarpedir1" class="col-sm-6 btn"  onclick="addProduct(6)">
            <img width="80%" class="rounded image" src="https://sevilla.abc.es/gurme/wp-content/uploads/sites/24/2015/11/croquetas-caseras-960x540.jpeg">
            <div class="text middle">Croquetas</div>
        </button>
      </div>

      <div class="row pt-3">
        <button id = "botonborrarpedir2" class="col-sm-6 btn"onclick="addProduct(2)">
            <img class="rounded image" width="80%" src="https://static.lared.cl/wp-content/uploads/2016/01/coca.jpg">
            <div class="text middle">Coca Cola</div>
        </button>

        <button id = "botonborrarpedir3" class="col-sm-6 btn" onclick="addProduct(7)">
            <img width="80%" class="rounded image" src="https://sevilla.abc.es/gurme/wp-content/uploads/sites/24/2016/06/serranito-meson-960x540.jpg">
            <div class="text middle">Serranito</div>
        </button>
      </div>

      <div class="row pt-3">
        <button id = "botonborrarpedir4" class="col-sm-6 btn"  onclick="addProduct(3)">
            <img class="rounded image" height="80%" src="https://cdn.needish.com/prod-boxfish/01315506-3a79-4cb4-8d9a-beba60447d39-grpn/scale/900x600.jpg">
            <div class="text middle">Fanta</div>
        </button>

        <button id = "botonborrarpedir5" class="col-sm-6 btn"  onclick="addProduct(8)">
            <img width="80%" class="rounded image" src="https://www.cassaboners.com/cache/db/8f/db8f22bf25aaf448a2d7a782beb6b4ab.jpg">
            <div class="text middle">Solomillo</div>
        </button>
      </div>

      <div class="row pt-3">
        <button id = "botonborrarpedir6" class="col-sm-6 btn" onclick="addProduct(4)">
            <img class="rounded image" width="80%" src="https://sevilla.abc.es/gurme/wp-content/uploads/sites/24/2016/08/cruzcampo.jpg">
            <div class="text middle">Cerveza</div>
        </button>

        <button id = "botonborrarpedir7" class="col-sm-6 btn"  onclick="addProduct(9)">
            <img width="80%" class="rounded image" src="https://evarociocom.files.wordpress.com/2017/11/tortilla-patatas-2.jpg">
            <div class="text middle">Tortilla</div>
        </button>
      </div>

      <div class="row pt-3">
        <button id = "botonborrarpedir8" class="col-sm-6 btn"  onclick="addProduct(5)">
            <img class="rounded image" width="80%" src="https://okdiario.com/img/vida-sana/2016/11/03/cafe.jpg">
            <div class="text middle">Café</div>
        </button>

        <button id = "botonborrarpedir9" class="col-sm-6 btn"  onclick="addProduct(10)">
            <img width="80%" class="rounded image" src="https://www.foodyt.com/media/uploads/2019/03/Mateos_slow-bar_restaurante_sevilla_giralda_carta_digital_foodyt-23.jpg">
            <div class="text middle">Pescado Frito</div>
        </button>
      </div>

  </div>

    <div class="subtitle d-block text-center m-3">
            <table class="table table-bordered border-dark">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Bebidas</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Comidas</th>
                  <th scope="col">Cantidad</th>
            </tr>
              </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="table-success">Agua</th>
                    <th class="table-success" >
                      <button id = "botonborrar0" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(1)">-</button>
                      <i class="col-9" id = "CantAgua"></i>
                    </th>
                    <th class="table-success">Croquetas</th>
                    <th class="table-success">
                      <button id = "botonborrar1" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(6)">-</button>
                      <i class="col-9" id = "CantCroquetas"></i>
                    </th>
                  </tr>

                  <tr>
                    <th scope="row" class="table-success">Coca Cola</th>
                    <th class="table-success" >
                      <button id = "botonborrar2" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(2)">-</button>
                      <i class="col-9" id = "CantCocacola"></i>
                    </th>
                    <th class="table-success">Serranito</th>
                    <th class="table-success">
                      <button id = "botonborrar3" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(7)">-</button>
                      <i class="col-9" id = "CantSerranito"></i>
                    </th>
                  </tr>

                  <tr>
                      <th scope="row" class="table-success">Fanta</th>
                      <th class="table-success" >
                        <button id = "botonborrar4" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(3)">-</button>
                        <i class="col-9" id = "CantFanta"></i>
                      </th>
                      <th class="table-success">Solomillo</th>
                      <th class="table-success">
                        <button id = "botonborrar5" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(8)">-</button>
                        <i class="col-9" id = "CantSolomillo"></i>
                      </th>
                    </tr>


                    <tr>
                      <th scope="row" class="table-success">Cerveza</th>
                      <th class="table-success" >
                        <button id = "botonborrar6" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(4)">-</button>
                        <i class="col-9" id = "CantCerveza"></i>
                      </th>
                      <th class="table-success">Tortilla</th>
                      <th class="table-success">
                        <button id = "botonborrar7" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(9)">-</button>
                        <i class="col-9" id = "CantTortilla"></i>
                      </th>
                    </tr>

                    <tr>
                      <th scope="row" class="table-success">Café</th>
                      <th class="table-success" >
                        <button id = "botonborrar8" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(5)">-</button>
                        <i class="col-9" id = "CantCafe"></i>
                      </th>
                      <th class="table-success">Pescado Frito</th>
                      <th class="table-success">
                        <button id = "botonborrar9" class ="btn-secondary col-3 float-right rounded" onclick = "subtractProduct(10)">-</button>
                        <i class="col-9" id = "CantPescadoFrito"></i>
                      </th>
                    </tr>

                  <tr>
                  <th colspan = "2" class="table-dark">Precio Total</th>
                   <th colspan = "1" class="table-info" id = "Precio"></th>
                   <th colspan = "1" class="table-info" > euros </th>
                  </tr>

              </tbody>
            </table>
            </div>

            <div class="subtitle d-block text-center m-3 mb-3">
                    <table class="table table-bordered border-dark">
                      <tr>
                        <th colspan = "6" class="table-dark">Estado de la comanda</th>
                        <th colspan = "2" class="table-success" id="estadoComanda">Escoja producto</th>

                    </tr>
                  </table>

            </div>


              <button id = "botonenviar" class ="btn btn-primary col-12 text-center my-3 py-5" onclick = "enviarComanda()">Enviar y confirmar</button>

              <a href = "gracias"> <button id = "botonadios" class ="btn btn-primary col-12 text-center my-3 py-5" > Me marcho, gracias por el servicio </button></a>

</body>




<footer>
    <script src="{{ url_for('static', filename='js/mains.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
</footer>
</html>
